/*
* @Author: msi-pc
* @Date:   2018-06-23 11:24:42
* @Last Modified by:   msi-pc
* @Last Modified time: 2018-06-27 14:15:27
*/
*{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
@import url("base.css");
/*头部开始*/

header{
    width: 100%;
    height: 75px;
    background: #080808;
}
header .box{
    width: 1220px;
    height: 75px;
    margin: 0 auto;
    background: #080808;
    padding:0 15px;
    box-sizing: border-box;
}
header .box h1{
    height: 100%;
    width: 140px;
    float:left;
}
header .box h1 a{
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    line-height: 75px;
    background-color: transparent;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header .box ul{
    width: 450px;
    height: 20px;
    float:right;
    margin-top:22.5px;
}
header .box ul li{
    width: 35px;
    height: 100%;
    float:right;
    margin-left:40px ;
    background-color:
}
header .box ul li a{
    color: #fff;
    font-size: 1em;
    margin: 0;
    text-decoration: none;
    padding: 0;
}
header .box ul li a:hover{
    color: #fd5c63 !important;
}



/* 精选开始 */

.jxbox{
    width: 730px;
    height: 445px;
    padding: 30px;
    background: #ffffff;
    margin: 62px auto;
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-top: 50px;
    border: 1px solid #dadada;
    border-radius: 10px;
}
input{
    background: #fff;
    box-shadow: 0 3px 5px -4px rgba(0, 0, 0, 0.4) inset, -1px 0 3px -2px rgba(0, 0, 0, 0.1) inset;
    border: #ccc solid 1px;
    border-radius: 6px;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    display: block;
    width: 700px;
    padding: 6px 15px;
    outline: none;
    color: #666;
    margin-bottom: 30px;

}
textarea{
    outline: none;
    background: #fff;
    box-shadow: 0 3px 5px -4px rgba(0, 0, 0, 0.4) inset, -1px 0 3px -2px rgba(0, 0, 0, 0.1) inset;
    border: #ccc solid 1px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 36px;
    width: 700px;
    height: 194px;
    padding: 6px 15px;
    color: #666;
    margin-bottom: 30px;

}
button{
    background: linear-gradient(#6383c6, #4262AD);
    display: block;
    width: 100%;
    padding: 10px 18px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    outline: none;
    border:none;
    box-shadow: 0 3px 5px -4px rgba(0, 0, 0, 0.4) inset, -1px 0 3px -2px rgba(0, 0, 0, 0.1) inset;
    color: #fff;
    cursor: pointer;
}
button:hover{
    background: #4262AD;
}




/* 底部开始 */
footer{
    width: 1220px;
    height: 141px;
    background: #fff;
    padding: 100px 32px 0;
    margin: 30px auto;

}
.word{
    width: 784px;
    height: 125px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    float: left;
}
.contact{
    width: 16.6%;
    height: 100%;
}
h4{
    font-size: 14px;
    color: #646464;
    margin: 0px;
    text-align: center;
    padding: 0 0 14px;
}
.Story li{
    font-size: 12px;
    color: #969696;
    text-align: center;
    padding: 6px 0;
    cursor: pointer;
}
.Story li:hover{
    color: #5079d9;
}
.Online{
    width: 406px;
    height: 141px;
    float: right;
}
h3{
    text-align: right;
    font-size: 30px;
    color: #646464;
    margin-top: 22px;
    margin-bottom: 11px;
}
h5{
    color: #c3c3c3;
    text-align: right;
    font-size: 13px;
    margin: 0 0 11px;
}
.frame{
    float: right;
    width: 102px;
    height: 32px;
    line-height: 32px;
    background: -webkit-linear-gradient(#fcfcfc, #f5f5f5);
    background: -o-linear-gradient(#fcfcfc, #f5f5f5);
    background: linear-gradient(#fcfcfc, #f5f5f5);
    cursor: pointer;
    font-size: 14px;
    padding: 0 0 0 26px;
    margin-top: 8px;
    text-align: left;
    color: #5079d9;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-sizing: content-box;
}
.frame:hover{
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eeeeee); */
    background-image: linear-gradient(180deg, #f5f5f5, #eeeeee);
}

.Below{
    width: 1220px;
    height: 61px;
    border-top: 1px solid #e6e6e6;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.left{
        font-size: 12px;
    color: #757575;
}
.right{
    color: #45474b;
    font-size: 13px;
}



/* 底部结束 */


aside{
    width: 100%;
    height: 0px;
    background: #080808;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 99;
    overflow: hidden;
    transition: all 1s;
}
aside .box{
    width: 1220px;
    height: 75px;
    margin: 0 auto;
    background: #080808;
    padding:0 15px;
    box-sizing: border-box;
}
aside .box h1{
    height: 100%;
    width: 140px;
    float:left;
}
aside .box h1 a{
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    line-height: 75px;
    background-color: transparent;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
aside .box ul{
    width: 450px;
    height: 20px;
    float:right;
    margin-top:22.5px;
}
aside .box ul li{
    width: 35px;
    height: 100%;
    float:right;
    margin-left:40px ;
    background-color:
}
aside .box ul li a{
    color: #fff;
    font-size: 1em;
    margin: 0;
    text-decoration: none;
    padding: 0;
}
aside .box ul li:nth-child(3) a{
    color: #fd5c63 !important;
}
aside .box ul li a:hover{
    color: #fd5c63 !important;
}