/*
* @Author: msi-pc
* @Date:   2018-06-19 22:33:37
* @Last Modified by:   msi-pc
* @Last Modified time: 2018-06-19 23:26:21
*/
*{
	margin: 0;
	padding: 0;
	list-style:none;
}
img{
	display:block；
}
a{
	text-decoration:none; 
}
@import url("base.css");

header{
    width: 100%;
    height: 75px;
    background: #080808;
}
header .box{
    width: 1220px;
    height: 75px;
    margin: 0 auto;
    background: #080808;
    padding:0 15px;
    box-sizing: border-box;
}
header .box h1{
    height: 100%;
    width: 140px;
    float:left;
}
header .box h1 a{
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    line-height: 75px;
    background-color: transparent;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header .box ul{
    width: 450px;
    height: 20px;
    float:right;
    margin-top:22.5px;
}
header .box ul li{
    width: 35px;
    height: 100%;
    float:right;
    margin-left:40px ;
    background-color:
}
header .box ul li a{
    color: #fff;
    font-size: 1em;
    margin: 0;
    text-decoration: none;
    padding: 0;
}
header .box ul li:nth-child(4) a{
    color: #fd5c63 !important;
}
header .box ul li a:hover{
    color: #fd5c63 !important;
}






/* 底部开始 */
footer{
    width: 1220px;
    height: 141px;
    background: #fff;
    padding: 100px 32px 0;
    margin: 30px auto;
}
.word{
    width: 784px;
    height: 125px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    float: left;
}
.contact{
    width: 16.6%;
    height: 100%;
}
h4{
    font-size: 14px;
    color: #646464;
    margin: 0px;
    text-align: center;
    padding: 0 0 14px;
}
.Story li{
    font-size: 12px;
    color: #969696;
    text-align: center;
    padding: 6px 0;
    cursor: pointer;
}
.Story li:hover{
    color: #5079d9;
}
.Online{
    width: 406px;
    height: 141px;
    float: right;
}
h3{
    text-align: right;
    font-size: 30px;
    color: #646464;
    margin-top: 22px;
    margin-bottom: 11px;
}
h5{
    color: #c3c3c3;
    text-align: right;
    font-size: 13px;
    margin: 0 0 11px;
}
.frame{
    float: right;
    width: 102px;
    height: 32px;
    line-height: 32px;
    background: -webkit-linear-gradient(#fcfcfc, #f5f5f5);
    background: -o-linear-gradient(#fcfcfc, #f5f5f5);
    background: linear-gradient(#fcfcfc, #f5f5f5);
    cursor: pointer;
    font-size: 14px;
    padding: 0 0 0 26px;
    margin-top: 8px;
    text-align: left;
    color: #5079d9;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-sizing: content-box;
}
.frame:hover{
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eeeeee); */
    background-image: linear-gradient(180deg, #f5f5f5, #eeeeee);
}

.Below{
    width: 1220px;
    height: 61px;
    border-top: 1px solid #e6e6e6;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.left{
        font-size: 12px;
    color: #757575;
}
.right{
    color: #45474b;
    font-size: 13px;
}

section{
	width: 1220px;
	height: 628px;
	margin: 30px auto;
	border-radius: 15px;
	box-sizing: border-box;
    border: 1px solid #DBDBDB;
    background: #DCEDF9;
}
section .top{
	width: 1220px;
	height: 86px;
	margin-bottom: 50px;
}
section .top h2{
	width: 1220px;
	height: 52px;
	text-align: center;
    margin: 0;
    font-size: 3em;
    color: #383838;
    font-family: 'Pacifico', cursive;
}
section .top p{
	width: 1220px;
	height: 20px;
	margin-top: 14px;
	text-align: center;
    margin: 1em 0 0 0;
    font-size: .875em;
    color: #383838;
    font-family: 'Oswald', sans-serif;
}
section .bottom{
	width: 1220px;
	height: 563px;
	display: flex;
	justify-content: space-between;
}
section .bottom .box{
	width: 570px;
	height: 477px;
	margin: 0 15px;
}
section .bottom .box .tx{
	width: 100%;
	height: auto;
	margin-bottom: 32px;
}
section .bottom .box .tx h2{
	color: #383838;
    font-size: 2em;
    margin: 0;
    text-decoration: none;
    line-height: 1.8em;
}
section .bottom .box .tx p{
	 margin: 1em 0 0 0;
    font-size: .875em;
    color: #383838;
    line-height: 1.8em;
    margin-top: 14px;
}


.chatu{
	width: 100%;
	height: 381px;
	background: red;
	background: url('../img/3.jpg');
	background-position: center;
    background-repeat: no-repeat;
     background-size: 100% 100%;
    background-attachment: fixed;
    overflow: hidden;
}
.chatu .box{
	width: 1220px;
	height: 256px;
	margin: 65px auto;
}
.chatu .box h2{
	width: 1220px;
	height: 53px;
	margin: 0px auto 14px;
	text-align: center;
    margin: 0;
    font-size: 3em;
    color: #FFF;
    font-family: 'Pacifico', cursive;
}
.chatu .box span{
	display: block;
	width: 1220px;
	height: 20px;
	text-align: center;
    margin: 1em 0 0 0;
    font-size: .875em;
    color: #FFF;
}
.chatu .box p{
	width: 823px;
	height: auto;
	margin: 43px auto 0;
    text-align: center;
    margin: 3em auto 0;
    font-size: .875em;
    color: #FFF;
    width: 73%;
    line-height: 1.8em;
}



.news{
    width: 1220px;
    height: 518px;
    margin: 30px auto 30px;
    padding-top: 15px;
    box-sizing: border-box;
    border: 1px solid #DBDBDB;
    border-radius: 15px;
}
.news .top{
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    border-bottom: 1px solid #DBDBDB;
}
.news .top span{
    display: block;
    width: 170px;
    height: 20px;
    margin-top: 17px;
    color: #333;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
}
.news .bottom{
    width: 100%;
    height: 426px;
}
.news .bottom .left{
    width: 608px;
    height: 426px;
    margin: 1px;
    float: left;
}
.news .bottom .left img{
    width: 608px;
    height: 426px;
    border-radius: 0 0 0 15px;
}
.news .bottom .right{
    width: 606px;
    height: 426px;
    float: right;
    margin: 1px;
}
.news .bottom .right .box{
    width: 303px;
    height: 426px;
    box-sizing: border-box;
    border-right: 1px solid #DBDBDB;
    float: left;
}
.news .bottom .right .box:hover{
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3)inset;
}
.news .bottom .right .box:last-child{
    border-radius: 0 0 15px 0px;
}
.news .bottom .right .box img{
    width: 206px;
    height: 206px;
    margin: 50px auto;
    display: block;
    background-size:contain;
    transition: all 0.5s;
}
.news .bottom .right .box:hover img{
    transform: scale(1.1);
}
.news .bottom .right .box .tx1{
    width: 100%;
    height: 18px;
}
.news .bottom .right .box .tx1 a{
    display: block;
    text-align: center;
    line-height: 18px;
    font-size: 14px;
    color: #333;
}
.news .bottom .right .box .tx2{
    width: 100%;
    height: 40px;
    margin-top: 10px;
}
.news .bottom .right .box .tx2 p{
     padding: 0 20px;
     width: 80%;
     line-height: 20px;
     font-size: 14px;
     color: #333;
     box-sizing: border-box;
     text-align: center;
     margin: 0 auto;
}
.news .bottom .right .box .tx3{
    width: 80px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid #3333;
    margin: 10px auto;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    color: #333;
    border-radius: 5px;
    display: none;
    cursor:pointer;
}
.news .bottom .right .box .tx3 a{
    color: #333;
}
.news .bottom .right .box:hover .tx3{
    display: block;
}

/* 底部结束 */


aside{
    width: 100%;
    height: 0px;
    background: #080808;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 99;
    overflow: hidden;
    transition: all 1s;
}
aside .box{
    width: 1220px;
    height: 75px;
    margin: 0 auto;
    background: #080808;
    padding:0 15px;
    box-sizing: border-box;
}
aside .box h1{
    height: 100%;
    width: 140px;
    float:left;
}
aside .box h1 a{
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    line-height: 75px;
    background-color: transparent;
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
aside .box ul{
    width: 450px;
    height: 20px;
    float:right;
    margin-top:22.5px;
}
aside .box ul li{
    width: 35px;
    height: 100%;
    float:right;
    margin-left:40px ;
    background-color:
}
aside .box ul li a{
    color: #fff;
    font-size: 1em;
    margin: 0;
    text-decoration: none;
    padding: 0;
}
aside .box ul li:nth-child(6) a{
    color: #fd5c63 !important;
}
aside .box ul li a:hover{
    color: #fd5c63 !important;
}