@import url('base.css');
/* 头部开始 */
body{
	width: 100%;
	height: 100%;
	background: #ededed;
}
header{
	width: 100%;
	height: 75px;
	background: #000;
}
.navbar{
	width: 1220px;
	height: 75px;
	margin: 0 auto;
	background: #000;
	display:flex;
	justify-content: space-between;
}
.logoL{
	color: rgb(74, 179, 68);
	height: 75px;
	font-size: 32px;
	line-height: 75px;
}
.design{
	color: #837f80;
}
.logoR{
	width: 212px;
	height: 75px;
	display: flex;
	justify-content: space-between;

}
.logoR a{
	width: 106px;
	height: 75px;
	font-size: 14px;
	color: #c8c8c8;
	line-height: 75px;
}
.logoR a:hover{
	color: #fff;
}
.navbarT{
	width: 100%;
	height: 0px;
	position: fixed;
	top: 75px;
	z-index: 999;
	background: #f7f7f7;
    /* border-bottom: 1px solid #dadada; */
    /* transition: all 1s; */
}
.container{
	width: 1220px;
	height: 62px;
	margin: 0 auto;


}
.nav{
	width: auto;
	height: 62px;

	float: left;
}
.nav li{
	float: left;
	padding: 20px;
	position: relative;
}
.nav li:first-child{
	padding-left: 0;
}
.nav li a{
	font-size: 14px;
	color: #76838f;
}
.nav li a:hover{
	color: #6b95ea;
}
.hot{
	font-weight: bold;
	color: #666;
}
.drop-down{
	width: 158px;
	height: 0px;
	background: #fff;
	border-radius: 4px;
	position: absolute;
	left: 0px;
	top: 50px;
	z-index: 9999;
	/* padding: 5px 0; */
	overflow: hidden;
	transition: all 1s
}
.drop-down li{
	width: 158px;
	height: 40px;
	background: #fff;
	padding:  0;
	padding-left: 15px;
	margin: 5px 0;
	line-height: 40px;
	box-sizing: border-box;

}
.drop-down li:hover{
	background: #ededed;
}
/* 头部结束 */
section{
	width: 1220px;
	height: 58px;
	margin: 0 auto;
	margin-top: 62px;
	border-top: 1px solid #d8d8d8;

}
.met{
	width: 915px;
	height: 58px;
}
.met li{
	text-decoration: none;
    padding: 20px;
    display: block;
    font-size: 12px;
    color: #999;
    font-weight: normal;
    float: left;
}
.met li:hover{
	color: #5079d9;
}

/* 精选开始 */

.button111{
	width: 730px;
	height: 445px;
	padding: 30px;
    background: #ffffff;
	margin: 62px auto;
	border-radius: 8px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	margin-top: 0;
	border: 1px solid #dadada;
    border-radius: 10px;
}
input{
	background: #fff;
    box-shadow: 0 3px 5px -4px rgba(0, 0, 0, 0.4) inset, -1px 0 3px -2px rgba(0, 0, 0, 0.1) inset;
    border: #ccc solid 1px;
    border-radius: 6px;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    display: block;
    width: 700px;
    padding: 6px 15px;
    outline: none;
    color: #666;
    margin-bottom: 30px;

}
textarea{
	outline: none;
	background: #fff;
    box-shadow: 0 3px 5px -4px rgba(0, 0, 0, 0.4) inset, -1px 0 3px -2px rgba(0, 0, 0, 0.1) inset;
    border: #ccc solid 1px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 36px;
    width: 700px;
    height: 194px;
    padding: 6px 15px;
    color: #666;
    margin-bottom: 30px;

}
button{
	background: linear-gradient(#6383c6, #4262AD);
    display: block;
    width: 100%;
    padding: 10px 18px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
	outline: none;
	border:none;
	box-shadow: 0 3px 5px -4px rgba(0, 0, 0, 0.4) inset, -1px 0 3px -2px rgba(0, 0, 0, 0.1) inset;
	color: #fff;
	cursor: pointer;
}
button:hover{
	background: #4262AD;
}
/* 底部开始 */
footer{
	height: 141px;
	background: #fff;
	padding: 100px 32px 0;
	margin-top: 30px;
	border-top: 1px solid #e6e6e6;


}
.word{
	width: 784px;
	height: 125px;
	margin-left: 35px;
	padding: 0 15px;
	display: flex;
	justify-content: space-between;
	float: left;
}
.contact{
	width: 16.6%;
	height: 100%;
}
h4{
	font-size: 14px;
    color: #646464;
    margin: 0px;
    text-align: center;
    padding: 0 0 14px;
}
.Story li{
	font-size: 12px;
    color: #969696;
    text-align: center;
    padding: 6px 0;
    cursor: pointer;
}
.Story li:hover{
	color: #5079d9;
}
.Online{
	width: 406px;
	height: 141px;
	float: right;
}
h3{
	text-align: right;
    font-size: 30px;
    color: #646464;
    margin-top: 22px;
    margin-bottom: 11px;
}
h5{
	color: #c3c3c3;
    text-align: right;
    font-size: 13px;
    margin: 0 0 11px;
}
.frame{
	float: right;
    width: 102px;
    height: 32px;
    line-height: 32px;
    background: -webkit-linear-gradient(#fcfcfc, #f5f5f5);
    background: -o-linear-gradient(#fcfcfc, #f5f5f5);
    background: linear-gradient(#fcfcfc, #f5f5f5);
    cursor: pointer;
    font-size: 14px;
    padding: 0 0 0 26px;
    margin-top: 8px;
    text-align: left;
    color: #5079d9;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    box-sizing: content-box;
}
.frame:hover{
	background-image: -webkit-linear-gradient(top, #f5f5f5, #eeeeee); */
    background-image: linear-gradient(180deg, #f5f5f5, #eeeeee);
}

.Below{
	width: 1220px;
	height: 61px;
	border-top: 1px solid #e6e6e6;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.left{
	    font-size: 12px;
    color: #757575;
}
.right{
	color: #45474b;
    font-size: 13px;
}
.fanhui{
	position: fixed;
    right: 7px;
    bottom: 20px;
    width: 54px;
    height: 54px;
    background: url(../img/backTop.png) no-repeat;
    background-size: contain;
    opacity: .62;
    cursor: pointer;
    z-index: 22;
    transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
    border: none;
    bottom: -50px;
	}
/* 底部结束 */
/* 详情图后加 */
.detailstu{
	width: 798px;
	height: 390px;
	background: #fff;
	position: fixed;
	z-index: 9999;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin-bottom: auto;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
	box-shadow:   0 0 0 3000px  rgba(0, 0, 0, 0.6);
	display: none;

}
.false{
	width: 100%;
	height: 16px;
	
}
.false a{
	width: 14px;
	height: 14px;
	float: right;
	margin-top: 15px;
	margin-right: 15px;
}
.img{
	width: 278px;
	height: 258px;
	margin: 50px;
	float: left;
}
.introduce{
	width: 399px;
	height: 177px;
	float: right;
	margin: 80px 0;
}
.productName{
	font-size: 20px;
    font-family: "Microsoft Yahei";
    color: #474747;
    line-height: 28px;
    word-break: break-all;
    padding: 5px;
    width: 374px;
    height: 38px;
    border-bottom: 2px solid #e0e0e0
}
.propContent{
	height: 20px;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    line-height: 20px;
    padding: 10px 0;
	color: #767676;
	width: 374px;
}